Source: rescapp
Section: main
Priority: optional
Maintainer: Adrian Gibanel Lopez <adrian15sgd@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/rescatux/rescapp
Vcs-Git: https://github.com/rescatux/rescapp.git
Vcs-Browser: https://github.com/rescatux/rescapp.git

Package: rescapp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
# Python Dbus packages
         ,python3-gi
         ,python3-dbus
# Python
         ,python3-pyqt5
         ,python3-pyqt5.qtwebkit
# Raid
         ,dmraid
# Lvm
         ,lvm2
# Filesystem
         ,reiserfsprogs
         ,reiser4progs
         ,btrfs-tools
         ,xfsprogs
         ,xfsdump
         ,ntfs-3g
         ,dosfstools
# Gdisk
         ,gdisk
# Efibootmgr
         ,efibootmgr
# Python-parted
         ,python3-parted
# chntpw
         ,chntpw
# misc
         ,zenity
         ,xdg-utils
         ,hexchat
         ,syslinux
         ,pastebinit
         ,lilo
         ,gawk
         ,extundelete
         ,os-prober
         ,mokutil
Description: Rescapp is a nice wizard that helps you in your rescue tasks.
 Rescapp is the Rescatux main program. It is a nice wizard that helps you in your rescue tasks.
 Boot options:
  Update UEFI order
  Create a new UEFI Boot entry
  UEFI Partition Status
  Fake Microsoft Windows UEFI
  Hide Microsoft Windows UEFI
  Reinstall Microsoft Windows EFI
  Check UEFI Boot
 GRUB options:
  Easy GNU/Linux Boot Fix
  Restore GRUB and GRUB2
  Update any GRUB2 menues
  Update Debian/Ubuntu grub menues
 Windows options:
  Restore Windows MBR (BETA)
  Clear Windows passwords
  Promote a Windows user to Administrator role
  Reinstall Microsoft Windows EFI
  Unlock Windows user
 Password options:
  Change Gnu/Linux Password
  Regenerate sudoers file
  Clear Windows passwords
 Filesystem options:
  File System Check (Forced Fix)
 Support options:
  Help
  Web
  Chat
  Show log
  Share log
  Share log on forum
  Boot Info Script
